torch
tqdm
six
numpy==1.23.5
audioread==3.0.0
librosa==0.9.2
SoundFile==0.11.0; sys_platform != 'darwin'
PySoundFile==0.9.0.post1; sys_platform == 'darwin'
scipy==1.9.3
pyrubberband==0.3.0
beartype==0.14.1
rotary_embedding_torch==0.3.5
einops==0.6.0
librosa==0.9.2
pytorch-lightning
transformers
ffmpeg-python
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
fastapi
uvicorn
pydantic
LangSegment>=0.2.0
pypinyin
jieba_fast
opencc; sys_platform != 'linux'
opencc==1.1.1; sys_platform == 'linux'
pyopenjtalk>=0.3.4
nltk
wordsegment
g2p_en
jamo
ko_pron
g2pk2
pyjyutping
cn2an
modelscope==1.10.0
sentencepiece
Faster_Whisper
funasr==1.0.27
torchaudio
