torch
tqdm
six
numpy==1.23.5
audioread==3.0.0
librosa==0.9.2
SoundFile==0.11.0; sys_platform != 'darwin'
PySoundFile==0.9.0.post1; sys_platform == 'darwin'
scipy==1.9.3
pyrubberband==0.3.0
beartype==0.14.1
rotary_embedding_torch==0.3.5
einops==0.6.0
pytorch_lightning==2.0.0
